* {
    margin: 0;
    padding: 0;
    --primaryColor: #010206;
    --textColor: white;
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primaryColor);

}

nav {
    /* border: 1px solid white; */
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
}

body nav ul {
    list-style: none;
    color: var(--textColor);
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-right: 5rem;
}

nav ul li {

    cursor: pointer;
}

nav h1 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right img {
    width: 500px;
    height: auto;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: space-around;
}


.left {
    background-color: var(--primaryColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10rem;
    gap: 1rem;
}

.hero .right {
    background-color: var(--primaryColor);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5rem;

}

.left p {
    width: 60%;
    line-height: 1.5rem;
}

.left button {
    background-color: #ffffff;
    color: var(--primaryColor);
    padding: 0.1rem 0.5;
    

}

.skills {
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: column;



}

.skills ul {
    background-color: none;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-top: 0.3rem;
}

.skills div img {
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.skillsLogo {
    display: flex;
    gap: 3rem;
    position: relative;
    top: 1rem;
}


.skills ul li{
    position: relative;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    
}

.skills ul .li3{
    position: relative;
    right: 2.5rem;
}

.skills ul .li4{
    position: relative;
    right: 0.5rem;
}