* {
    margin: 0;
    padding: 0;
}


.tank {
    /* border: 5px solid black; */
    height: 100vh;
    width: fit-content;
    display: grid;
    grid-template-columns: 300px 1fr 1fr 1fr;
    grid-template-rows: 80px 200px 200px 200px 200px 200px;
    gap: 10px;

}

.box {
    border: 2px solid black;
    background-color: lightseagreen;
    height: 200px;
    width: 820px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.box1 {   
    height: 80px;
    width: 2800px;
    background-color: #ff6b6b;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.box2 {
    height: 1040px;
    width: 300px;
    background-color: #feca57;
    grid-column: 1 / 2;
    grid-row: 2 / 7;
}